
.content-container {
}

.counts-container {
    margin-top: 10px;
    display: flex;
    gap: 100px;
}

.todays-date {
}

.heading {
    display: flex;
    gap: 100px;
}

table, td {
    border: 1px solid;
}

table {
    border-collapse: collapse;
}

td {
    padding-right: 5px;
    padding-left: 5px;
}

.duplicates-template {
    display: none;
}